/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #AFEEEE;
    border-color: #AFEEEE;
}

.pagination {
    clear: both;
    position: relative;
    font-size: 11px;
    text-align: center;
}

    .pagination span, .pagination a {
        display: inline-block;
        margin: 2px 2px 2px 0;
        padding: 6px 9px 5px 9px;
        text-decoration: none;
        color: #ddd;
        background: #222;
    }

    .pagination .current {
        padding: 6px 9px 5px 9px;
        font-weight: bold;
        background: #0950E8;
    }